---
import Layout from "../layouts/Layout.astro";

---
<Layout>
    <h2> আমাদের সম্পর্কে</h2>
    <p> একটি অনিবন্ধিত, অনিয়ন্ত্রিত, অপরিকল্পিত সাপ্তাহিক অনলাইন ম্যাগাজিন। </p>
    <p> প্রতি বৃহস্পতিবার ৬ঃ০০ PM এ প্রকাশিত।  </p>
</Layout>

