---
import Submit from "../components/Submit.astro";
import Layout from "../layouts/Layout.astro";
const url = Astro.url.pathname;

---
<Layout>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <h2> যোগাযোগ</h2>
    <!-- <p> সরাসরি অফিসে এসে। অফিস কোথায়? বলবো না।  </p> -->
    <Submit url={url} title="নিঃসঙ্কোচে যোগাযোগ করুন" />
</Layout>

<style>

</style>