---
import Layout from "../layouts/Layout.astro";

---
<Layout>
    <p>
        গরীবের আবার কীসের প্রাইভেসি? আপনার যে কোনো ডিজিটাল ফুটপ্রিন্ট যেভাবে ইচ্ছা ব্যবহার করবো, বিক্রি করবো, LLM ট্রেইন করবো। আপনার কিছুই বলার নেই। 
    </p>
</Layout>