---
import Layout from "../layouts/Layout.astro";

---
<Layout>
    <h2> গোপনীয়তার নীতিমালা </h2>
    <p>
        গরীবের আবার কীসের প্রাইভেসি? ইউরোপের GDPR তো আপনার আমার জন্য প্রযোজ্য না।  আপনার যে কোনো ডিজিটাল ফুটপ্রিন্ট যেভাবে ইচ্ছা ব্যবহার করবো, বিক্রি করবো, LLM ট্রেইন করবো। আপনার কিছুই বলার নেই। 
    </p>
</Layout>