---
import Layout from "../layouts/Layout.astro";

---
<Layout>
    <h2> পরিষেবার শর্তাবলী </h2>
    <p> আপনি এই ওয়েবসাইট ভিজিট করার মাধ্যমে এই বিষয়টি সম্মতি দিয়ে ফেলেছেন যে- আপনার সকল সম্পত্তির মালিকানা এই সাইটের মালিক চাইলে দাবী করতে পারবে। জাস্ট কিডিং :-D </p>
</Layout>