<footer>
  <p>© ২০২৫, এই সপ্তাহ</p>
  <div>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-and-contidions">Terms & Contidions</a>
  </div>
</footer>

<style>
  footer {
    text-align: center;
    background-color: #ffffe0;
    padding: 1rem;
  }

  footer div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
  }

  /* Mobile first */
  @media (min-width: 600px) {
    footer {
      padding: 2rem;
    }
  }

  @media (min-width: 900px) {
    footer {
      padding: 3rem;
    }
  }
</style>
