<footer>
  <p>© ২০২৫, এই সপ্তাহ</p>
  <a href="https://github.com/2u841r/ei-shoptah">Github</a>
  <ul>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/terms-and-contidions">Terms & Contidions</a></li>
  </ul>
</footer>

<style>
  footer {
    background-color: #add8e6;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  li {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }

  /* Mobile first */
  @media (max-width: 400px) {
    ul {
      flex-direction: column;
      align-items: flex-end;
    }
  }
</style>
