<footer>
    <p>© ২০২৫, এই সপ্তাহ</p>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-and-contidions">Terms & Contidions</a>
</footer>

<style>
  footer {
    background-color: #FFFFE0; /* light-yellow */
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  /* Mobile first */
  @media (min-width: 600px) {
    footer {
      padding: 2rem;
    }
  }

  @media (min-width: 900px) {
    footer {
      padding: 3rem;
    }
  }
</style>