---
const allPosts = Object.values(
  import.meta.glob("../pages/2025/*.md", { eager: true })
).sort((a, b) => b.frontmatter.week - a.frontmatter.week);
---

<div id="container">
  {
    allPosts.map((post: any) => (
      <li>
        <a href={post.url}>{post.frontmatter.week} - {post.frontmatter.published}</a>
      </li>
    ))
  }
</div>

<style>
  #container {
    background-color: #FFFFE0; 
    padding: 1rem;
  }

  li {
    list-style: none;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  /* Mobile first */
  @media (min-width: 600px) {
    #container {
      padding: 2rem;
    }
  }

  @media (min-width: 900px) {
    #container {
      padding: 3rem;
    }
  }
</style>

