---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>এই সপ্তাহ</title>
  </head>
  <body>
    <Navigation />

      <div id="slot">
        <slot />
      </div>

    <Footer />
  </body>
</html>

<style>
  body {
    background-color: #ffffe0;
  }

  #slot{
    padding: 0rem 3rem;
  }
  @media screen and (max-width: 600px) {
    #slot{
      padding: 0rem 1rem;
    }
    
  }

</style>
