---
import Submit from "../components/Submit.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.year} - {frontmatter.week}</title>
  </head>
  <body>
    <Layout>
      <div id="container">
        <slot />
        <Submit />
      </div>
    </Layout>
  </body>
</html>

<style>
  * {
    background-color: lightyellow;
  }
  #container {
    padding: 1rem;
  }

</style>
